<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>General</key>
	<dict>
		<key>Units of temperature</key>
		<array>
			<string>Celsius</string>
			<string>Fahrenheit</string>
		</array>
		<key>Unit of length</key>
		<array>
			<string>Feets</string>
			<string>Kilometers</string>
		</array>
	</dict>
</dict>
</plist>
